<template>
  <div class="hello">
    <div class="jumbotron text-center" style="margin-bottom:0">
      <h1>{{ msg }}</h1>
      <p>Resize this responsive page to see the effect!</p>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- <div><p>{{ userList.userName }}</p></div> -->
    <div v-for="value in userList" :key="value.userName">
      <p>{{ value.userName }}</p>
      <p>{{ value.userEex }}</p>
      <p>{{ value.userLive }}</p>
      <p>{{ value.userEmail }}</p>
      <p>{{ value.userPhon }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      userList: []
    }
  },
  mounted: function () {
    this.user_info()
  },
  methods: {
    user_info () {
      this.$http.get('http://127.0.0.1:8000/api/personalinfo').then((response) => {
        console.log(response.bodyText)
        var res = JSON.parse(response.bodyText)
        console.log(res)
        this.userList = res
        console.log(this.userList)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
